doctype html
html
  head
    title vishu Dance Academy
    block scripts
    block style 
  body
    nav#navbar
         ul
            div#logo 
              img(src="/static/logo.png")
              | VDA
            li #[a(href="/") Home] 
            li #[a(href="/") About]
            li #[a(href="/") Services] 
            li #[a(href="/") Class info] 
            li #[a(href="/contact") Contact Us]

    block content
    footer#footer
        |  Copyright © 2019 Vishu danceacademy.com | ALL RIGHTS RESERVED    